<h1>Eat a digital burger!</h1>

<img>

<div class="burgers-to-eat">
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgers/burger-block eat=true}}
    {{/unless}}
  {{/each}}
</div>

<div class="burgers-eaten">
  {{#each burgers}}
    {{#if eaten}}
      {{> burgers/burger-block eat=false}}
    {{/if}}
  {{/each}}
</div>

<h2>Input Your Burger</h2>
<form class="burger-form">
  <textarea></textarea>
</form>
